@custom-variant dark (&:where(.dark, .dark *));
@custom-variant red (&:where(.red, .red *)); /* Red Theme */ 
@import "tailwindcss";

body {
  font-family: "futura-pt", sans-serif;
  background-color: rgb(61, 74, 124); 
}

.dark body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 64px;
}

.red {
  background-color: black;
  --red-light: rgb(254,0,0); 
  --red-medium: rgb(190,0,0); 
  --red-mild: rgb(127,0,0); 
  --red-dim: rgb(50,0,0); 
}